.cart-widget {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cart-icon {
    font-size: 1.4rem;
}

.cart-notification {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}