.hero-section {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9); 
}

.hero-overlay {
    position: absolute;
    color: white;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.hero-overlay .greeting-text {
    color: #ffffff; /* El texto de bienvenida ahora sobre la foto */
    font-size: 3.5rem;
    letter-spacing: 2px;
}