.item-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
}

.greeting-text {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--primary-color);
    max-width: 800px;
}