.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--bg-color);
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo h1 {
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s;
}

.navbar-links a:hover {
    color: var(--text-secondary);
}