.navbar {
    height: 80px;
    display: grid;
    /* 3 columnas: Logo(1fr) | Links(auto) | Carrito(1fr) */
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    padding: 0 5%;
    background-color: #ffffff !important; /* Blanco sólido garantizado */
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 0;
    z-index: 10000; /* Z-index alto para que no se vea transparente con el Hero */
}

/* Arreglo del Logo: Mayúsculas y sin subrayado */
.navbar-logo {
    text-decoration: none !important; /* Quita el subrayado del Link */
    color: #000000 !important;
    justify-self: start; 
}

.navbar-logo h1 {
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-transform: uppercase; /* Fuerza el texto a MAYÚSCULAS */
    font-weight: 800;
    margin: 0;
    border: none;
    text-decoration: none !important;
}

/* Centrado de Links */
.navbar-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-self: center; /* Los links se clavan al centro matemático */
}

.cart-container {
    justify-self: end; 
}

/* Arreglo de los enlaces: Sin subrayado y fuente Inter */
.navbar-links a {
    text-decoration: none !important;
    color: #000000;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase; 
    transition: 0.3s;
}

.navbar-links a:hover {
    color: #666666;
}

.navbar-links .active {
    font-weight: 700;
    border-bottom: 2px solid #000000;
}