:root {
  --primary-color: #000000;
  --bg-color: #ffffff;
  --text-secondary: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Helvetica como prioridad, Arial como respaldo */
  font-family: 'Helvetica', 'Arial', sans-serif !important;
}

/* Quitamos cualquier padding excesivo que hayamos puesto antes en el body */
body {
    padding-top: 0; 
}